

/* Staging only styles */
prm-logo-after h1 {
    text-transform: uppercase;
    margin-left: 1em;
}

prm-search-bar {
    background-color: #dfddcf;
}
prm-browse-search-bar .search-switch-buttons .md-button.switch-to-advanced, prm-journals-search-bar .search-switch-buttons .md-button.switch-to-advanced, prm-search-bar .search-switch-buttons .md-button.switch-to-advanced, prm-tags-search-bar .search-switch-buttons .md-button.switch-to-advanced {
    color: #501315;
}
